html{
  text-align: center;
}
#header{
  text-align: center;
  font-family: 'Jua', sans-serif;
}
.gameplay {
  display: none;
}
body{
  background-color: #FADBD8;

}
.rules{
text-decoration:underline;
text-decoration-style: wavy;
text-decoration-color: #A98B80;
}

.btn {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background: transparent
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
